/* button {
    width: 8%;
}

.coin, .set {
    color: #fff;
}
.set {
    cursor: pointer;
    background-color: rgb(70, 69, 34);
    border-radius: 5px;
    text-decoration: none;
}

.disabled {
    background-color: #eee;
    border: 1px solid #ccc;
    cursor: not-allowed;
    pointer-events: none;
  } */